.env
.env.local
.env.production

.vscode/
.DS_Store
.cursor/
*.log
.cache/
.supabase/

/dist
/build

dist/
.output/

.astro/
node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.idea/
